#hospital-map.map{style: 'float: left'}

%ul#donor-list{style: 'float: left'}

:javascript
  var hospitalData = #{raw @hospitals.map(&:public_attributes).to_json}
  var donorData = #{raw @donors.map(&:public_attributes).to_json}

